# ==================================================
# ⚙️ REQUIRED ENVIRONMENT VARIABLES
# ==================================================

# 🚀 Application Mode
MODE="DEV"  # DEV, TEST, or PROD
BACKEND_PORT = "8000"
BACKEND_HOST = "0.0.0.0"
FRONTEND_PORT = "80"

# ==================================================
# 🗄️ Database (PostgreSQL)
# ==================================================
DB_USER="postgres"
DB_PASS="postgres"
DB_HOST="postgres_db"    # Use 'postgres_db' for Docker
DB_PORT="5432"
DB_NAME="postgres_db"

# ==================================================
# ⚡ Redis (Cache)
# ==================================================
REDIS_HOST="cache"  # Use 'cache' for Docker
REDIS_PORT="6379"
REDIS_PASSWORD = "1234"